<?xml version="1.0"?>
      
<launch>
	
  <!-- 211223 Created to test loading a urdf file directly into rviz -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot)/urdf/my_robot.xacro'"/>

  <!-- Three (3) nodes are created from this launch file -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz"/>

  <!-- set 'use_gui' value to 'false' :: Applies to RVIZ not Gazebo! -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="False"/>
  </node>

</launch>
