<?xml version="1.0" encoding="UTF-8"?>

<launch>
  
  <!-- Robot pose :: Robot pose :: Robot pose :: Robot pose -->
  <!-- the location at which the robot is placed in the gazebo world-->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <!--  params/nodes needed for the robot model -->
  <include file="$(find my_robot)/launch/my_robot_gazebo.launch"/>

  <!-- World File :: World File :: World File :: World File -->
  <!-- Full world -->
  <arg name="world_file" default="$(find my_robot)/worlds/busy_world.world"/>

  <!-- 'rtab_world' is the empty or bare environment -->
  <!-- arg name="world_file" default="$(find my_robot)/worlds/rtab_world.world"/ -->
  
  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  

  <!-- (this should be already set in prior launch file (see above) -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot)/urdf/my_robot.xacro'"/>
  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -param robot_description -model my_robot
	      -x $(arg x) -y $(arg y) -z $(arg z)
	      -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!--Rviz :: Rviz :: Rviz :: Rviz :: Rviz :: Rviz :: Rviz :: Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false"/>
  
</launch>
